/** @format */

#section8 {
	width: 100%;
	height: calc(100vh - 70px);
	position: relative;
	overflow: hidden;
}

.head__box {
	border-bottom: 1px solid #101010;
	position: relative;
	z-index: 10;
	background-color: #f0f0f0;
}
.head__line {
	display: flex;
}
.head__line .head__detail {
	flex: 1;
	border-right: 1px solid #101010;
	padding: 1rem 1.5rem;
}
.head__line .head__detail:last-child {
	border-right: none;
}
.head__line .head__detail a {
	font-family: "PPMonument";
	font-size: 1.1vw;
	text-transform: uppercase;
	font-weight: 300;
	transition: all 0.3s;
}
.head__line .head__detail a:hover {
	color: #858585;
}
.contact__inner {
	box-sizing: border-box;
	text-transform: uppercase;
	display: flex;
}
.contact__img {
	width: 45%;
	position: relative;
	margin: 0 auto;
	padding-top: 5rem;
}
.contact__sub {
	width: 25%;
	padding: 1rem 2rem;
	float: left;
	z-index: 10;
}
.contact__sub h2,
.contact__list h2 {
	font-family: "PPMonument";
	font-weight: 800;
	font-size: 2vw;
	margin-bottom: 1rem;
}
.contact__list h2 {
	text-align: right;
}
.contact__sub p,
.contact__list li a {
	font-family: "NexonLv2Gothic";
	font-weight: 300;
	line-height: 1.4;
	font-size: 1.1vw;
}
.contact__list li a {
	text-align: right;
	display: block;
	margin-bottom: 5px;
}
.contact__list {
	width: 18%;
	padding: 1rem;
	float: right;
	z-index: 10;
}

.con__back {
	width: 35vw;
	height: 35vw;
	position: absolute;
	z-index: 10;
	animation: rotateIt 25s linear infinite;
}
.con__front {
	width: 35vw;
	height: 35vw;
	position: absolute;
	z-index: 100;
}

.l-rail__item {
	border-top: 2px solid #101010;
	border-bottom: 2px solid #101010;
	position: absolute;
	transform: translate(0, 0);
	left: 0;
	bottom: 0.5%;
	padding: 0.2vw 0.4vw;
	overflow: hidden;
	background-color: #f0f0f0;
}
.l-rail__item p {
	font-size: 2vw;
	font-weight: 800;
	text-transform: uppercase;
	white-space: nowrap;
	font-family: "PPMonument";
	animation: rail3 30s linear infinite;
}
@keyframes iconup {
	0% {
		top: 110%;
	}
	100% {
		top: -10%;
	}
}
/* 미디어 쿼리 */
@media (max-width: 1200px) {
	.contact__img {
		width: 50%;
	}
	.con__back,
	.con__front {
		width: 500px;
		height: 500px;
	}
	.contact__sub p,
	.contact__list li a {
		font-size: 16px;
	}
	/* .about__icon {
		width: 40px;
		height: 40px;
	} */
}
@media (max-width: 1000px) {
	.contact__img {
		width: 60%;
	}
}
@media (max-width: 950px) {
	.contact__wrap {
		height: 100%;
	}
	.contact__inner {
		flex-direction: column-reverse;
		align-items: center;
		height: 100%;
	}
	.contact__sub {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		bottom: 3%;
	}
	.contact__sub h2,
	.contact__list h2 {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.contact__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.contact__list li a {
		text-align: center;
	}
	.contact__img {
		width: 100%;
		display: flex;
		justify-content: center;
		padding-top: 0;
	}
	.head__line .head__detail {
		padding: 10px;
	}
	.head__line .head__detail a {
		font-size: 16px;
	}
	.con__back,
	.con__front {
		width: 350px;
		height: 350px;
	}
	.contact__sub p {
		text-align: center;
	}
	.l-rail__item p {
		font-size: 18px;
	}
}
@media (max-width: 550px) {
	.con__back,
	.con__front {
		width: 250px;
		height: 250px;
	}
	.contact__sub p,
	.contact__list li a {
		font-size: 14px;
	}
	.contact__sub {
		bottom: 5%;
	}
	.head__detail:nth-child(2),
	.head__detail:nth-child(3) {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.head__line .head__detail {
		padding: 7px 5px 10px 5px;
		text-align: center;
	}
	.head__line .head__detail a {
		font-size: 13px;
		font-weight: 500;
	}
}
@media (max-width: 375px) {
	.con__back,
	.con__front {
		width: 150px;
		height: 150px;
	}
	.contact__sub h2,
	.contact__list h2 {
		font-size: 14px;
	}
	.contact__sub p,
	.contact__list li a {
		font-size: 12px;
	}
}
/* 애니메이션 */
@keyframes rail3 {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translate3d(-60%, 0, 0);
	}
}
