/** @format */

#section3 {
	width: 100%;
	/* height: 200vh; */
	box-sizing: border-box;
}
.site__inner {
	padding: 5vw 0;
	overflow: hidden;
}
.site__circle-t {
	margin-bottom: 4vw;
}

.site__circle-t .circle__wrap {
	display: flex;
}
.site__circle-t .circle__site {
	flex: 0 0 auto;
	width: 25%;
	margin-right: 5vw;
	box-sizing: border-box;
}
.site__circle-b .circle__wrap {
	display: flex;
	justify-content: flex-end;
}
.site__circle-b .circle__site {
	flex: 0 0 auto;
	width: 25%;
	margin-left: 5vw;
	box-sizing: border-box;
}
.circle__site img {
	border: 2px solid #f55c47;
	border-radius: 50%;
}
.s-rail__conts {
	position: relative;
	width: 100%;
	height: 16vw;
	border-top: 2px solid #f55c47;
	border-bottom: 2px solid #101010;
	padding: 0.42vw 0;
	overflow: hidden;
}
.s-rail__inner {
	width: 100%;
	display: flex;
	position: absolute;
	flex-direction: column;
	cursor: default;
}
.s-rail__line {
	font-family: "PPMonument";
	font-weight: 800;
	font-size: 4vw;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 65%;
	transform-origin: 50% 0%;
}

.site__detail {
	/* height: 6vw; */
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	padding: 5vw 2vw;
	position: relative;
	box-sizing: border-box;
}
.site__detail__desc {
	width: 50%;
}
.detail__desc {
	width: 90%;
	font-size: 1.2vw;
	font-family: "NexonLv2Gothic";
	font-weight: 300;
	line-height: 140%;
	word-break: keep-all;
}
@media (max-width: 950px) {
	.detail__desc {
		font-size: 16px;
		width: 100%;
	}
	.site__detail__desc {
		width: 100%;
		padding-left: 10px;
	}
}
@media (max-width: 900px) {
	.s-rail__line {
		line-height: 100%;
	}
}
@media (max-width: 600px) {
	.site__circle-t .circle__site {
		width: 40%;
	}
	.site__circle-b .circle__site {
		width: 40%;
	}
	.detail__desc {
		line-height: 120%;
	}
}
@media (max-width: 550px) {
	.detail__desc {
		font-size: 14px;
	}
}
