/** @format */
#section2 {
	width: 100%;
	cursor: default;
}
.about__wrap {
	width: 100%;
	/* height: 150vh; */
	overflow: hidden;
}
.about__inner {
	/* padding: 150px 80px; */
	padding: 10vw 5vw;
	position: relative;
	overflow: hidden;
}

.about__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	z-index: 10;
}
.about__bottom {
	display: flex;
	/* justify-content: flex-end; */
	/* justify-content: space-between; */
	justify-content: space-around;
	flex-direction: row-reverse;
	align-items: center;
}
.about__img01 {
	width: 48%;
}
.about__img01 img {
	width: 30vw;
	height: 30vw;
	position: relative;
	margin-left: 70px;
	z-index: 10;
}
.about__img02 {
	width: 48%;
	width: 30vw;
	height: 30vw;
	transform: rotate(-30deg);
	z-index: 10;
	/* position: absolute; */
	/* right: 10%;
	bottom: 10%; */
}
.about__desc {
	position: relative;
	width: 48%;
	z-index: 10;
}
.about__desc.left {
	margin-right: 15vw;
	z-index: 10;
}
.about__desc .about__title {
	font-family: "PPMonument";
	font-weight: 400;
	font-size: 3.5vw;
	text-transform: uppercase;
	margin-bottom: 3vw;
}
.about__desc .about__me {
	font-family: "NexonLv2Gothic";
	font-weight: 300;
	line-height: 150%;
	width: 600px;
	font-size: 20px;
	z-index: 10;
	position: relative;
	word-break: keep-all;
}

.about__icon {
	background-image: url(../img/about_icon01.svg);
	width: 4.1vw;
	height: 4.1vw;
	position: absolute;
	background-size: cover;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.about__icon.icon2 {
	background-image: url(../img/about_icon02.svg);
}

.about__rail {
	border-top: 2px solid #f55c47;
	/* border-bottom: 2px solid #f55c47; */
	transform: translate(0px, 0px);
	overflow: hidden;
}
.a-rail__item {
	white-space: nowrap;
}
.a-rail__desc {
	color: #f55c47;
	font-weight: 800;
	font-family: "PPMonument";
	display: inline-block;
	text-transform: uppercase;
	font-size: 4.8vw;
	white-space: nowrap;
	line-height: 1.2;
	border-bottom: 2px solid #f55c47;
}
.about__rail__inner {
	/* animation: animate 4s linear; */
	animation: a-rail 7s linear infinite;
}
.about__rail__inner-b {
	animation: b-rail 8s linear infinite;
}
@keyframes a-rail {
	0% {
		transform: translateZ(0);
	}
	100% {
		transform: translate3d(-70%, 0, 0);
	}
}
@keyframes b-rail {
	0% {
		transform: translateX(-70%);
	}
	100% {
		transform: translate3d(0%, 0, 0);
	}
}

.about__icon.icon-c1 {
	left: 8%;
	top: 8%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c2 {
	left: 70%;
	top: 10%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c3 {
	left: 50%;
	top: 30%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
.about__icon.icon-c4 {
	left: 12%;
	top: 50%;
	animation: iconup 7s linear infinite;
	will-change: top;
}
.about__icon.icon-c5 {
	left: 29%;
	top: 65%;
	animation: iconup 10s linear infinite;
	will-change: top;
}
.about__icon.icon-c6 {
	left: 88%;
	top: 90%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
.about__icon.icon-c7 {
	left: 90%;
	top: 38%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c8 {
	left: 34%;
	top: 45%;
	animation: iconup 12s linear infinite;
	will-change: top;
}
.about__icon.icon-c9 {
	left: 65%;
	top: 55%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c10 {
	left: 20%;
	top: 78%;
	animation: iconup 5s linear infinite;
	will-change: top;
}
.about__icon.icon-c11 {
	left: 59%;
	top: 89%;
	animation: iconup 7s linear infinite;
	will-change: top;
}
.about__icon.icon-c12 {
	left: 79%;
	top: 2%;
	animation: iconup 11s linear infinite;
	will-change: top;
}
.about__icon.icon-c13 {
	left: 41%;
	top: 66%;
	animation: iconup 8s linear infinite;
	will-change: top;
}
.about__icon.icon-c14 {
	left: 97%;
	top: 20%;
	animation: iconup 4s linear infinite;
	will-change: top;
}
.about__icon.icon-c15 {
	left: 0%;
	top: 16%;
	animation: iconup 9s linear infinite;
	will-change: top;
}
@keyframes iconup {
	0% {
		top: 110%;
	}
	100% {
		top: -10%;
	}
}
@media (max-width: 1000px) {
	.about__desc .about__me {
		font-size: 16px;
	}
}
/* 미디어쿼리 */
@media (max-width: 860px) {
	.about__top {
		flex-direction: column;
	}
	.about__img01 {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}
	.about__desc {
		width: 100%;
	}
	.about__img01 img {
		width: 400px;
		height: 400px;
		margin-left: 0;
	}
	.about__desc .about__title {
		font-size: 24px;
	}
	.about__top {
		padding-bottom: 20px;
		border-bottom: 1px solid #000;
	}
	.about__bottom {
		flex-direction: column;
	}
	.about__img02 {
		width: 100%;
		margin-bottom: 10px;
	}
	.about__desc.left {
		width: 100%;
	}
	.about__img02 {
		width: 400px;
		height: 400px;
	}
	.about__desc.left {
		margin-right: 0;
	}
}
@media (max-width: 550px) {
	.about__top {
		align-items: center;
	}
	.about__desc .about__title {
		font-size: 20px;
		text-align: center;
	}
	.about__desc .about__me {
		line-height: 1.2;
		font-size: 14px;
	}
	.about__desc.left {
		margin-right: 0;
	}
	.about__bottom {
		justify-content: space-between;
	}
	.about__img01 img {
		width: 250px;
		height: 250px;
	}
	.about__img02 {
		width: 250px;
		height: 250px;
	}
	.about__icon {
		width: 26px;
		height: 26px;
		background-size: cover;
	}
}
